.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.cards__container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.card {
  width: "fit-content";
  border: solid black 2px;
  padding: 20px;
  margin-bottom: 75px;
}

.votingForms {
  display: flex;
}
